:root{
    /* # Primary */

--Moderate-violet: hsl(263, 55%, 52%);
--Very-dark-grayish-blue: hsl(217, 19%, 35%);
--Very-dark-blackish-blue: hsl(219, 29%, 14%);
--White: hsl(0, 0%, 100%);
--White-gray: hsl(0, 0%, 100%, .5);
--Light-gray-very: hsl(0, 0%, 70%);

 /* # Neutral */

--Light-gray: hsl(0, 0%, 81%);
--Light-grayish-blue: hsl(210, 46%, 95%);
}

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: var(--Light-grayish-blue);
    font-family: 'Barlow', sans-serif;
}

.container{
    display: grid;
    column-gap: 30px;
    row-gap: 20px;
    width: 100%;
    max-width: 890px;
    margin: 5em auto;
}
.container .card{
    border-radius: 10px;
}
.container div{
    margin-bottom: 20px;
    display: inline-block;
    padding-left: 10px;
}
.container img{
    border-radius: 50%;
    width: 30px; 
}
.container .card-1 img{
    border: 2px solid hsl(263, 55%, 70%);
    border-radius: 50%;
    width: 30px;
}
.container .card-5 img{
    border: 2px solid var(--Moderate-violet);
    border-radius: 50%;
    width: 30px;
}

.container div h3{
    color:var(--White);
    font-weight: 500;
    font-size: 13px;
}
.container div p{
    color: var(--White-gray);
    font-weight: 500;
    font-size: 10px;
}
.card-3 div h3{
    color:var(--Very-dark-grayish-blue);
    font-weight: 500;
}
.card-3 div p{
    color: var(--Light-gray);
}
.card-4 div h3{
    color:var(--Very-dark-grayish-blue);
    font-weight: 500;
}
.card-4 div p{
    color: var(--Light-gray);
}
.Review-paragraphs1{
    color:var(--Light-grayish-blue);
    margin-bottom: 12px;
    font-weight: 600;
    font-family: 'Barlow';
    font-size: 16px;
    
}
.Review-paragraphs{
    margin-top: 15px;
    color:var(--Light-gray-very);
    font-size: 10px;
}
.Review-paragraphs2{
    color:var(--Light-gray-very);
    font-size: 10px;
    margin-top: 12px;
}
.Review-paragraphs3{
    color:var(--Very-dark-grayish-blue);
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Barlow';
    
}

.card-1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: var(--Moderate-violet);
    background-image: url(./bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 80%  0%;
    box-shadow: 2px 6px 50px var(--Light-gray-very);
    padding: 15px 30px 20px 20px;
    width: 480px;
}
.card-2{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: var(--Very-dark-grayish-blue);
    box-shadow: 2px 6px 50px var(--Light-gray-very);
    padding: 15px 30px 20px 20px;
    width: 205px;
}
.card-3{
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    background-color: var(--White);
    box-shadow: 2px 6px 50px var(--Light-gray-very);
    width: 205px;
    padding: 15px 30px 15px 20px;
}
.card-4{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: var(--White);
    box-shadow: 2px 6px 50px var(--Light-gray-very);
    width: 205px;
    padding: 30px 35px 15px 15px;
}
.card-5{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: var(--Very-dark-blackish-blue);
    box-shadow: 2px 6px 50px var(--Light-gray-very);
    width: 480px;
    padding: 30px 30px 20px;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
    margin: 0; 
    box-shadow: 2px 6px 10px var(--Light-gray-very);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media screen and (max-width: 375px){
    .container{
       display: grid;
       max-width: 280px;
    }
    .container .card{
        border-radius: 10px;
        width: 280px;
    }
    .Review-paragraphs2, 
    .Review-paragraphs{
        margin-top: 15px;
        margin-bottom: 15px;
    }
   
    .card-1 {
        grid-column: 1;
        grid-row: 1 / 2;
        background-size: 35%;
        background-position: 90% 0%;
    }
    .card-2 {
        grid-column: 1;
        grid-row: 2 / 3;
    }
    .card-3 {
        grid-column: 1;
        grid-row: 5 / 6;
    }
    .card-4 {
        grid-column: 1;
        grid-row: 3 /4;
    }
    .card-5 {
        grid-column: 1;
        grid-row: 4 / 5;
    }
}